<h1>Introduction to Python Basics and JupyterLab</h1>

<h1>JupyterLab</h1>

* !!! Play around with window placement to show some examples of what can be done.
* [More info on how you can use JupyterLab.](https://towardsdatascience.com/jupyter-lab-evolution-of-the-jupyter-notebook-5297cacde6b)

<h1>Markdown</h1>

This is a **markdown** cell. You can *easily* add...

* <font color=red>html formatted text</font>
* bulleted lists
* equations $y = m x + b$
* images ![Anaconda Navigator logo](navigator.png)
* etc.

<h1>Exercise</h1>

1. Make your own new markdown cell below this one and write a line saying hi to your neighbor(s).
2. Once you're satisfied, remove the cell.

<h1>Variables</h1>

In [11]:
# This is a code cell (and everything after # is a comment)
x=2
y=3.14
my_str="hi-ya!"
flag = True
na = None

In [ ]:
x,y,my_str,flag,na

In [ ]:
type(x), type(y), type(my_str), type(flag), type(na)

In [ ]:
z  # not defined yet!

In [ ]:
z=x+y
z

<h1>Kernel/Restart Kernel...</h1>

* Run/Run All Above Selected Cell
* Run/Run Selected Cell And All Below

In [ ]:
x=5

In [ ]:
# First run the above cell, then this cell.
# Next go back up and re-run the cell where x is initially defined,
# and then run this cell again.
x

**Oops!** Lesson is that if you execute blocks out of order you may become confused as to the value of your variables. If that happens you can always restart the kernel and re-execute your blocks in order.

In [ ]:
# First restart the kernel, then run this cell.
x

<h1>Basic Operations</h1>

In [ ]:
print(f"2 + 3 = {2 + 3}")  # add
print(f"2 - 3 = {2 - 3}")  # subtract
print(f"2 * 3 = {2 * 3}")  # multiply
print(f"2 / 3 = {2 / 3}")  # divide
print(f"2**3 = {2**3}")    # 2 to the 3rd power
print(f"8 % 3 = {8 % 3}")  # modulus (remainder)

In [ ]:
print(f"2 / 3 = {2/3: .2f}")

In [ ]:
# Can't do operations with incompatible types
"1" + 3

<h1>Getting Help</h1>

* Google
* help()
* Help/Contextual Help

In [28]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

<h1>Conditionals</h1>

In [ ]:
1 == 1, 1 == 2, 1 != 2, not (1 == 2)

In [20]:
"hi" == "hi", "hi" == "bye"

(True, False)

In [ ]:
(7 == 7) == False

In [ ]:
1 < 2, 1 > 2, 1 <= 1

<h1>Logical AND, OR</h1>

In [ ]:
(1 == 1) and (1 == 2)

In [ ]:
(1 == 1) or (1 == 2)

<h1>if/elif/else Code Blocks</h1>

In [ ]:
if 1 == 1: # the semicolon ending indicates the start of a block
    # Everything inside the code block is indented by one more tab
    print('Awesome')  # this line is inside the if code block
# this line is outside of the if code block (indicating that the block is complete)

#-----------------
if 1 == 2:
    print('Will not happen')

#-----------------
if 1 == 2:
    print('I wish')
else:
    print('Oops')
    print('Oopsy')
    print('Whoopsy')

#-----------------
if False:
    print('I wish')
elif True:
    print('That was it')
elif True:
    print('That was it too')
else:
    print('Oops')

<h1>Nested Blocks Code Structure via Indentation</h1>

![Code Block Structure](codeblocks.png)

In [ ]:
# !!! TRY AND PREDICT THE RESULT OF THIS CELL BEFORE YOU RUN IT !!!
if True:
    print('Definitely true')
    if 1 == 2:
        print('A')
    else:
        print('B')
        print('BB')
    print('All done')
else:
    print('Wish it were true')
    if 3 == 3:
        print('C')
        print('CC')
    else:
        print('D')

<h1>Lists</h1>
Indexed value arrays

In [22]:
mylist = [1, x, y, 100, my_str, flag, na, [1,2,3], "hi"]
mylist

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']

In [13]:
nada = []  # an empty list
nada2 = list()  # also an empty list
len(mylist), len(nada), nada2

(9, 0, [])

<h1>List Indexing</h1>

In [ ]:
# [start]
# [start:stop]  <== DOES NOT INCLUDE stop!!!
# [start:stop:step]

mylist[0], mylist[1], mylist[8], mylist[3:5], mylist[3:9:2]

In [ ]:
# counting backwards
mylist[-1], mylist[-2]

In [ ]:
# assume first or end
mylist[:3], mylist[6:], mylist[-3:]

In [ ]:
# nested lists
mylist[7], mylist[7][0], mylist[7][1:]

<h1>Exercise</h1>

1. Put every other item in **mylist** into a new list **mylist2** and print the last two items in **mylist2**.

<h1>Dictionaries</h1>
Key/Value pairs

In [4]:
ages = {}  # empty dictionary
ages["Alex"] = 14
ages["Susan"] = 14
ages["John"] = 42
ages["Cindy"] = 14
ages

{'Alex': 14, 'Susan': 14, 'John': 42, 'Cindy': 14}

In [5]:
ages["John"]

42

In [6]:
ages["John"] = 56
ages

{'Alex': 14, 'Susan': 14, 'John': 56, 'Cindy': 14}

In [7]:
ages["Marissa"] = 25
ages

{'Alex': 14, 'Susan': 14, 'John': 56, 'Cindy': 14, 'Marissa': 25}

In [8]:
del ages["Cindy"]
ages

{'Alex': 14, 'Susan': 14, 'John': 56, 'Marissa': 25}

<h1>Sets</h1>
Unique values

In [14]:
myset = set()  # empty set
myset

set()

In [18]:
myset.add(1)
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(3)
myset

{1, 2, 3}

In [19]:
myset.remove(1)
myset

{2, 3}

<h1>Exercise</h1>

In [ ]:
name = "John"
ages = {"Alex": 14, "Susan": 34, "John": 42, "Cindy": 28}

1. Use if/elif/else blocks to determine whether **name** is one of Alex, Susan, John, Cindy or else an unknown name. If the name is known print out the person's age, otherwise print a message saying the person is unknown. Change **name** to Marissa and rerun your code block.

<h1>Iterating Lists</h1>

In [ ]:
for item in mylist:  # start for loop block
    print(item)  # indented by one additional tab => inside the for loop block

In [ ]:
# Loop over both indices and values
for (index, item) in enumerate(mylist):
    print(index, item)

In [ ]:
# range(start, stop)
for i in range(3, 5):
    print(i, mylist[i])

In [ ]:
# range(start, stop, step)
for i in range(3, 8, 2):
    print(i, mylist[i])

<h1>Other Loops</h1>

In [ ]:
n = 6
while n <= 10:
    print(n)
    n = n+1  # !!! without this the loop will run forever

In [ ]:
# Stop this infinite loop! Kernel/Interrupt Kernel (or stop button in toolbar)
# Then right-click/Clear Outputs.
n = 6
while n <= 10:
    print(n)

<h1>Exit the Loop Early</h1>

In [ ]:
for n in range(1, 6):
    if n == 4: # entire if block is inside for loop
        break  # inside if block
    # indentation indicates that if block is done (but we're still in the for loop)
    print(n)  # inside for loop

# indentation indicates that for loop is done
print('all done!')

<h1>Skip an Iteration</h1>

In [ ]:
for n in range(1, 6):
    if n < 3:
        continue
    print(n)

<h1>Growing/Shrinking Lists</h1>

In [ ]:
a = mylist
print(a)
a.append(38)
print(a)
a.append([40, 50])
print(a)
a.extend([1, 2])
print(a)

In [ ]:
a.pop(4)  # removes the 5th element
a.remove(2)  # remove the first value of 2 in the list
a

In [ ]:
del a[:3]  # removes the first three elements
a

<h1>Exercises</h1>

In [ ]:
arr = [0, 6, 7, -12, 21, -5, 8, 4]

1. Loop over the above list and print all values greater than 3 and less than 9.

2. Repeat the above, but print the values and their list indices. Hint: enumerate

3. Repeat the above, but stop when you encounter the first negative value.

4. Append the values 3 and 82 to the above list.

5. Remove every other value from the list starting from the second value.

<h1>Mutable vs. Immutable Objects</h1>

In [ ]:
print(a)
print(mylist)

In [ ]:
a[1] = 500
mylist

In [ ]:
a = [1, 2, 3]
b = a
b[0] = -1
a, b

In [ ]:
id(a), id(b)

In [ ]:
b = [4, 5, 6]  # !!! Resets b to new data, so b loses it's reference to a's data.
a, b

In [ ]:
id(a), id(b)

In [ ]:
a=2
b=a
b=3
a, b

In [ ]:
a=220398457
b=a
print(id(a), id(b))
b=220398457
print(id(a), id(b))

<h1>What if you want to copy a mutable object?</h1>

In [ ]:
import copy  # import copy module
a = [1, 2, 3]
b = copy.copy(a)  # call copy function within copy module
a[1] = 100  # change a
print(a)
print(b)

In [ ]:
# nested lists
a = [[1, 2], [3, 4]]
b = copy.copy(a)
c = copy.deepcopy(a)
a[0][0] = 100
print(a)
print(b)
print(c)

<h1>Equal Value vs. Identical (same data)</h1>

In [ ]:
a = [1, 2, 3]
b = copy.copy(a)
print(a)
print(b)
a == b, a is b

In [ ]:
b = a
a is b

<h1>Strings are Immutable Lists of Charachters</h1>

In [ ]:
my_str, my_str[0], my_str[-2:]

In [ ]:
my_str[0] = "a"

<h1>Tuples are Immutable Lists</h1>

In [ ]:
mytuple = (1, 3.14, x, my_str, 'hi', na, flag, True)
mytuple

In [ ]:
type(mylist), type(mytuple)

In [ ]:
a = mytuple
print(a)
a = (1, 2, 3)
print(a)
print(mytuple)

In [ ]:
a[-1]

In [ ]:
a[-1] = 4

<h1>Conversion Between Tuples and Lists</h1>

In [26]:
tup = tuple(mylist)
newlist = list(tup)
print(mylist)
print(tup)
print(newlist)
newlist is mylist

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']
(1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi')
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']

False

<h1>Exercises</h1>

In [ ]:
arr = [0, 6, 7, -12, 21, -5, 8, 4]
arr2 = arr

1. Change the 2nd to last item in **arr2** to 100. What happend to **arr**? Why?

2. Test the equality of the values in **arr** and **arr2**.

3. Test the whether **arr** and **arr2** are identical (refer to the same data in memory). Print the result as a complete sentence using print() and a formatted string.

4. Create a new variable **arr3** and asign it a new separate copy of **arr**. Do **arr** and **arr3** refer to the same data?

5. Set the first half of **arr3** to the last half of **arr** and the last half of **arr3** to the first half of **arr**. What happend to **arr**? Why?