# Introduction to Python Basics and JupyterLab

This is a VERY basic introduction to Python and the JupyterLab environment.

---
## Overview

* JupyterLab
* markdown
* variables
* basic operations
* formatted printing
* kernel
* help
* conditionals
* containers: lists, dictionaries, sets, tuples
* nested code blocks
* if/elif/else
* for loops, while loops
* mutable vs immutable objects

---
## <font color=red>!!! Reminder</font>

1. Google is your friend. Use it when you don't know how to do something.
2. If that is insufficient, then ask your peers for help on the Canvas discussion board.
3. If that is insufficient, then come to office hours.
4. If that is insufficient, then contact the TA or myself.

---
## JupyterLab

* Basic layout
    * menubar
    * file browser
    * tabs
    * tab toolbar
    * tab placement and views
* add/delete cells
* right-click cell for context menu
* keyboard shortcuts

---
## Markdown

This is a **markdown** cell. You can *easily* add...

* <font color=red>html formatted text</font>
* bulleted lists
* equations $y = m x + b$
* images ![Anaconda Navigator logo](images/navigator.png)
* etc.

## <font color=red>Exercises</font>

1. Make your own new markdown cell below this one and write a line saying hi to your neighbor(s).
2. Once you're satisfied, remove the cell.

---
## Variables

In [11]:
# This is a code cell (and everything after # is a comment)
x=2  # integer
y=3.14  # floating point number
my_str="hi-ya!"  # string
flag = True  # boolean
na = None  # none

In [3]:
x

2

In [4]:
x,y,my_str,flag,na

(2, 3.14, 'hi-ya!', True, None)

In [ ]:
type(x), type(y), type(my_str), type(flag), type(na)

In [5]:
z  # not defined yet!

NameError: name 'z' is not defined

In [7]:
z=x+y
z

5.140000000000001

---
## Comments

In [ ]:
# Single line comment
print(z)  # can follow code

""" Multi-line
comment
"""

---
## Basic Operations

In [8]:
print(f"2 + 3 = {2 + 3}")  # add
print(f"2 - 3 = {2 - 3}")  # subtract
print(f"2 * 3 = {2 * 3}")  # multiply
print(f"2 / 3 = {2 / 3}")  # divide
print(f"2**3 = {2**3}")    # 2 to the 3rd power
print(f"8 % 3 = {8 % 3}")  # modulus (remainder)

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666
2**3 = 8
8 % 3 = 2

In [9]:
print(f"2 / 3 = {2/3: .2f}")

2 / 3 =  0.67

In [10]:
# Can't do operations with incompatible types
"1" + 3

TypeError: can only concatenate str (not "int") to str

---
## Restart Kernel

Restarting the kernel clears all variables and starts over from a blank slate.

* Order in which cells were executed is shown in []

In [1]:
x=5

In [2]:
# 1. Run the above cell, then this cell.
# 2. Run the cell in the Variables section where x was initially defined.
# 3. Run this cell again.
x

5

**Oops!** Lesson is that if you execute blocks out of order you may become confused as to the value of your variables. If that happens you can always restart the kernel and re-execute your blocks in order.

In [ ]:
# First restart the kernel, then run this cell.
x

---
## Stop Kernel

Stop the kernel to abort an operation that is taking too long or has hung.

* [\*] indicates a busy cell (still running)

In [4]:
# This loop takes a few seconds to run. Notice the busy [*] indicator.
# Don't worry about understanding the code, we'll go over loops below.
for i in range(10000):
    i**i

Run the above cell and try stopping the kernel mid operation.

---
## Getting Help

* Google
* ?
* help()
* Help/Contextual Help

In [1]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

---
## Conditionals

In [2]:
1 == 1, 1 == 2, 1 != 2

(True, False, True)

In [3]:
"hi" == "hi", "hi" == "bye"

(True, False)

In [4]:
(7 == 7) == False

False

In [5]:
1 < 2, 1 > 2, 1 <= 1

(True, False, True)

---
## Logical AND, OR, NOT

In [6]:
not (1 == 2)

True

In [7]:
(1 == 1) and (1 == 2)

False

In [8]:
(1 == 1) or (1 == 2)

True

In [9]:
True and not False

True

---
## List

Ordered array

In [12]:
mylist = [1, x, y, 100, my_str, flag, na, [1,2,3], "hi"]
mylist

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']

In [13]:
nada = []  # an empty list
nada2 = list()  # also an empty list
len(mylist), len(nada), nada2

(9, 0, [])

## List Indexing

In [14]:
# [start]
# [start:stop]  <== DOES NOT INCLUDE stop!!!
# [start:stop:step]

mylist[0], mylist[1], mylist[8], mylist[3:5], mylist[3:9:2]

(1, 2, 'hi', [100, 'hi-ya!'], [100, True, [1, 2, 3]])

In [15]:
# counting backwards
mylist[-1], mylist[-2]

('hi', [1, 2, 3])

In [16]:
# assume first or end
mylist[:3], mylist[6:], mylist[-3:]

([1, 2, 3.14], [None, [1, 2, 3], 'hi'], [None, [1, 2, 3], 'hi'])

In [18]:
# nested lists
mylist[7], mylist[7][0], mylist[7][1:]

([1, 2, 3], 1, [2, 3])

In [19]:
# Editing list values
print(mylist)
mylist[-1] = "bye"
print(mylist)

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'bye']

## <font color=red>Exercises</font>

1. Put every other item in **mylist** into a new list **mylist2** and print the last two items in **mylist2**.

In [20]:
mylist

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'bye']

In [23]:
mylist2 = mylist[::2]
mylist2

[1, 3.14, 'hi-ya!', None, 'bye']

## Growing/Shrinking Lists

In [24]:
a = mylist
print(a)
a.append(38)
print(a)
a.append([40, 50])
print(a)
a.extend([1, 2])
print(a)

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'bye']
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'bye', 38]
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'bye', 38, [40, 50]]
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'bye', 38, [40, 50], 1, 2]

In [25]:
a.pop(4)  # removes the 5th element
a.remove(2)  # remove the first value of 2 in the list
a

[1, 3.14, 100, True, None, [1, 2, 3], 'bye', 38, [40, 50], 1, 2]

In [26]:
del a[:3]  # removes the first three elements
a

[True, None, [1, 2, 3], 'bye', 38, [40, 50], 1, 2]

---
## Dictionary

Key/Value pairs

In [27]:
# Create an empty dictionary.
ages = {}  # empty dictionary

# Add key/value pairs to the dictionary.
ages["Alex"] = 14
ages["Susan"] = 28
ages["John"] = 42
ages["Cindy"] = 35

ages

{'Alex': 14, 'Susan': 28, 'John': 42, 'Cindy': 35}

In [28]:
ages["John"]

42

In [29]:
# Change a key's associated value.
ages["John"] = 56
ages

{'Alex': 14, 'Susan': 28, 'John': 56, 'Cindy': 35}

In [30]:
# Add a new key/value pair.
ages["Marissa"] = 25
ages

{'Alex': 14, 'Susan': 28, 'John': 56, 'Cindy': 35, 'Marissa': 25}

In [31]:
# Remove a key/value pair.
del ages["Cindy"]
ages

{'Alex': 14, 'Susan': 28, 'John': 56, 'Marissa': 25}

In [32]:
# Create a new dictionary with some key/value pairs.
ages = {"John": 42, "Cindy": 35}
ages

{'John': 42, 'Cindy': 35}

---
## Set

Unique values

In [33]:
# Create an empty set.
myset = set()  # empty set
myset

set()

In [34]:
# Add values to the set.
myset.add(1)
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(3)
myset

{1, 2, 3}

In [35]:
# Remove a value from the set.
myset.remove(1)
myset

{2, 3}

---
## if/elif/else Code Blocks

In [36]:
if 1 == 1: # the semicolon ending indicates the start of a block
    # Everything inside the code block is indented by one more tab
    print('Awesome')  # this line is inside the if code block
# this line is outside of the if code block (indicating that the block is complete)

#-----------------
if 1 == 2:
    print('Will not happen')

#-----------------
if 1 == 2:
    print('I wish')
else:
    print('Oops')
    print('Oopsy')
    print('Whoopsy')

#-----------------
if False:
    print('I wish')
elif True:
    print('That was it')
elif True:
    print('That was it too')
else:
    print('Oops')

Awesome
Oops
Oopsy
Whoopsy
That was it

## Nested Blocks Code Structure via Indentation

![Code Block Structure](images/codeblocks.png)

## <font color=red>Exercises</font>

1. Try and predict the result of the cell below before you run it.

In [ ]:
# !!! TRY AND PREDICT THE RESULT OF THIS CELL BEFORE YOU RUN IT !!!
if True:
    print('Definitely true')
    if 1 == 2:
        print('A')
    else:
        print('B')
        print('BB')
    print('All done')
else:
    print('Wish it were true')
    if 3 == 3:
        print('C')
        print('CC')
    else:
        print('D')

![Diagram for above code cell](images/nestedifblocks.png)

2. For the cell below, use if/elif/else blocks to determine whether **name** is one of Alex, Susan, John, Cindy or else an unknown name. If the name is known print out the person's age, otherwise print a message saying the person is unknown. Change **name** to Marissa and rerun your code block.

In [ ]:
name = "John"
ages = {"Alex": 14, "Susan": 34, "John": 42, "Cindy": 28}

---
## for loops and List Iteration

In [38]:
for a in mylist:  # start for loop block
    print(a)  # indented by one additional tab => inside the for loop block

True
None
[1, 2, 3]
bye
38
[40, 50]
1
2

In [40]:
# Loop over both indices and values
for (i, val) in enumerate(mylist):
    print(i, val)

0 True
1 None
2 [1, 2, 3]
3 bye
4 38
5 [40, 50]
6 1
7 2

In [41]:
# range(start, stop)
for i in range(3, 5):
    print(i, mylist[i])

3 bye
4 38

In [42]:
# range(start, stop, step)
for i in range(3, 8, 2):
    print(i, mylist[i])

3 bye
5 [40, 50]
7 2

## while loops

In [43]:
n = 6
while n <= 10:
    print(n)
    n = n+1  # !!! without this the loop will run forever

6
7
8
9
10

In [ ]:
# Stop this infinite loop! Kernel/Interrupt Kernel (or stop button in toolbar)
# Then right-click/Clear Outputs.
n = 6
while n <= 10:
    print(n)

## Exit the Loop Early

In [44]:
for n in range(1, 6):
    if n == 4: # entire if block is inside for loop
        break  # inside if block
    # indentation indicates that if block is done (but we're still in the for loop)
    print(n)  # inside for loop

# indentation indicates that for loop is done
print('all done!')

1
2
3
all done!

## Skip an Iteration

In [ ]:
for n in range(1, 6):
    if n < 3:
        continue
    print(n)

---
## <font color=red>Exercises</font>

In [ ]:
arr = [0, 6, 7, -12, 21, -5, 8, 4]

1. Loop over the above list and print all values greater than 3 and less than 9.

2. Repeat the above, but print the values and their list indices. Hint: enumerate

3. Repeat the above, but stop when you encounter the first negative value.

4. Append the values 3 and 82 to the above list.

5. Remove every other value from the list starting from the second value.

---
## Mutable vs. Immutable Objects

In [ ]:
print(a)
print(mylist)

In [ ]:
a[1] = 500
mylist

In [ ]:
a = [1, 2, 3]
b = a
b[0] = -1
a, b

In [ ]:
id(a), id(b)

In [ ]:
b = [4, 5, 6]  # !!! Resets b to new data, so b loses it's reference to a's data.
a, b

In [ ]:
id(a), id(b)

In [ ]:
a=2
b=a
b=3
a, b

In [ ]:
a=220398457
b=a
print(id(a), id(b))
b=220398457
print(id(a), id(b))

## What if you want to copy a mutable object?

In [ ]:
import copy  # import copy module
a = [1, 2, 3]
b = copy.copy(a)  # call copy function within copy module
a[1] = 100  # change a
print(a)
print(b)

In [ ]:
# nested lists
a = [[1, 2], [3, 4]]
b = copy.copy(a)
c = copy.deepcopy(a)
a[0][0] = 100
print(a)
print(b)
print(c)

## Equal Value vs. Identical (same data)

In [ ]:
a = [1, 2, 3]
b = copy.copy(a)
print(a)
print(b)
a == b, a is b

In [ ]:
b = a
a is b

## Strings are Immutable Lists of Charachters

In [ ]:
my_str, my_str[0], my_str[-2:]

In [ ]:
my_str[0] = "a"

## Tuples are Immutable Lists

In [ ]:
mytuple = (1, 3.14, x, my_str, 'hi', na, flag, True)
mytuple

In [ ]:
type(mylist), type(mytuple)

In [ ]:
a = mytuple
print(a)
a = (1, 2, 3)
print(a)
print(mytuple)

In [ ]:
a[-1]

In [ ]:
a[-1] = 4

## Conversion Between Tuples and Lists

In [ ]:
tup = tuple(mylist)
newlist = list(tup)
print(mylist)
print(tup)
print(newlist)
newlist is mylist

## <font color=red>Exercises</font>

In [ ]:
arr = [0, 6, 7, -12, 21, -5, 8, 4]
arr2 = arr

1. Change the 2nd to last item in **arr2** to 100. What happend to **arr**? Why?

2. Test the equality of the values in **arr** and **arr2**.

3. Test the whether **arr** and **arr2** are identical (refer to the same data in memory). Print the result as a complete sentence using print() and a formatted string.

4. Create a new variable **arr3** and asign it a new separate copy of **arr**. Do **arr** and **arr3** refer to the same data?

5. Set the first half of **arr3** to the last half of **arr** and the last half of **arr3** to the first half of **arr**. What happend to **arr**? Why?