<h1>Markdown</h1>

This is a **markdown** cell. You can *easily* add...

* <font color=red>html formatted text</font>
* bulleted lists
* equations $y = m x + b$
* images ![Anaconda Navigator logo](navigator.png "Anaconda Navigator logo")
* etc.

<h1>Exercise</h1>

1. Make your own new markdown cell below this one and write a line saying hi to your neighbor(s).
2. Once your satisfied, remove the cell.

<h1>Variables</h1>

In [17]:
x=2
y=3.14
my_str="hi-ya!"
flag = True
na = None

In [20]:
x,y,my_str,flag,na

(2, 3.14, 'hi-ya!', True, None)

In [19]:
type(x), type(y), type(my_str), type(flag), type(na)

(int, float, str, bool, NoneType)

In [4]:
z  # not defined yet! (by the way, this is a comment)

NameError: name 'z' is not defined

In [5]:
z=x+y
z

5.140000000000001

<h1>Kernel/Restart Kernel...</h1>

* Run/Run All Above Selected Cell
* Run/Run Selected Cell And All Below

In [6]:
x=5
x

5

In [9]:
# First execute this block.
# Next go back up and re-execute the block where x is initially defined,
# and then execute this block again (by the way, this is a comment).
x

2

**Oops!** Lesson is that if you execute blocks out of order you may become confused as to the value of your variables. If that happens you can always restart the kernel and re-execute your blocks in order.

<h1>Basic Operations</h1>

In [13]:
print(f"2 + 3 = {2 + 3}")  # add
print(f"2 - 3 = {2 - 3}")  # subtract
print(f"2 * 3 = {2 * 3}")  # multiply
print(f"2 / 3 = {2 / 3}")  # divide
print(f"2**3 = {2**3}")    # 2 to the 3rd power
print(f"8 % 3 = {8 % 3}")  # modulus (remainder)

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666
2**3 = 8
8 % 3 = 2

In [15]:
print(f"2 / 3 = {2/3: .2f}")

2 / 3 =  0.67

In [16]:
# Can't do operations with incompatible types
"1" + 3

TypeError: can only concatenate str (not "int") to str

<h1>Conditionals</h1>

In [35]:
1 == 1, 1 == 2, 1 != 2, not (1 == 2)

(True, False, True, True)

In [31]:
(7 == 7) == False

False

In [32]:
1 < 2, 1 > 2, 1 <= 1

(True, False, True)

<h1>If/Else</h1>

In [96]:
if 1 == 1:
    print('Awesome')  # this line is indented by one tab more than the previous line

#-----------------
if 1 == 2:
    print('Will not happen')

#-----------------
if 1 == 2:
    print('I wish')
else:
    print('Oops')

#-----------------
if False:
    print('I wish')
elif True:
    print('That was it')
else:
    print('Oops')

Awesome
Oops
That was it

<h1>Logical AND, OR</h1>

In [33]:
(1 == 1) and (1 == 2)

False

In [34]:
(1 == 1) or (1 == 2)

True

<h1>Lists</h1>

In [69]:
mylist = [1, x, y, 100, my_str, flag, na, [1,2,3], "hi"]
mylist

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']

In [39]:
nada = []  # an empty list
len(mylist), len(nada)

(9, 0)

<h1>List Indexing</h1>

In [45]:
# [start]
# [start:stop]
# [start:stop:step]

mylist[0], mylist[1], mylist[8], mylist[3:5], mylist[3:9:2]

(1, 2, 'hi', [100, 'hi-ya!'], [100, True, [1, 2, 3]])

In [49]:
# counting backwards
mylist[-1], mylist[-2]

('hi', [1, 2, 3])

In [51]:
# assume first or last
mylist[:3], mylist[6:], mylist[-3:]

([1, 2, 3.14], [None, [1, 2, 3], 'hi'], [None, [1, 2, 3], 'hi'])

In [54]:
# nested lists
mylist[7], mylist[7][0], mylist[7][1:]

([1, 2, 3], 1, [2, 3])

<h1>Strings are Lists of Charachters</h1>

In [82]:
my_str, my_str[0], my_str[-2:]

('hi-ya!', 'h', 'a!')

<h1>Growing/Shrinking Lists</h1>

In [70]:
a = mylist
print(a)
a.append(38)
print(a)
a.append([40, 50])
print(a)
a.extend([1, 2])
print(a)

[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi']
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi', 38]
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi', 38, [40, 50]]
[1, 2, 3.14, 100, 'hi-ya!', True, None, [1, 2, 3], 'hi', 38, [40, 50], 1, 2]

In [71]:
a.pop(4)  # removes the 5th element
a.remove(2)  # remove the first value of 2 in the list
a

[1, 3.14, 100, True, None, [1, 2, 3], 'hi', 38, [40, 50], 1, 2]

In [72]:
del a[:3]  # removes the first three elements
a

[True, None, [1, 2, 3], 'hi', 38, [40, 50], 1, 2]

<h1>Mutable vs. Immutable Objects</h1>

In [73]:
mylist

[True, None, [1, 2, 3], 'hi', 38, [40, 50], 1, 2]

In [74]:
a[1] = 500
mylist

[True, 500, [1, 2, 3], 'hi', 38, [40, 50], 1, 2]

In [75]:
x=2
z=x
z=3
x,z

(2, 3)

<h1>What if you want to copy a mutable object?</h1>

In [79]:
import copy  # import copy module
a = [1, 2, 3]
b = copy.copy(a)  # call copy function within copy module
a[1] = 100  # change a
print(a)
print(b)

[1, 100, 3]
[1, 2, 3]

In [80]:
# nested lists
a = [[1, 2], [3, 4]]
b = copy.copy(a)
c = copy.deepcopy(a)
a[0][0] = 100
print(a)
print(b)
print(c)

[[100, 2], [3, 4]]
[[100, 2], [3, 4]]
[[1, 2], [3, 4]]

<h1>Iterating Lists</h1>

In [84]:
for item in mylist:
    print(item)  # this line is indented by one tab more than the previous line

True
500
[1, 2, 3]
hi
38
[40, 50]
1
2

In [85]:
# Loop over both indices and values
for (index, item) in enumerate(mylist):
    print(index, item)

0 True
1 500
2 [1, 2, 3]
3 hi
4 38
5 [40, 50]
6 1
7 2

In [86]:
# range(start, stop)
for i in range(3, 5):
    print(i, mylist[i])

3 hi
4 38

In [88]:
# range(start, stop, step)
for i in range(3, 8, 2):
    print(i, mylist[i])

3 hi
5 [40, 50]
7 2

<h1>Exit the Loop Early</h1>

In [92]:
for n in range(1, 6):
    if n == 4: # entire if block is inside for loop
        break  # inside if block
    # indentation indicates that if block is done (but we're still in the for loop)
    print(n)  # inside for loop

# indentation indicates that for loop is done
print('all done!')

1
2
3
all done!

<h1>Skip an Iteration</h1>

In [93]:
for n in range(1, 6):
    if n < 3:
        continue
    print(n)

3
4
5